.sign-in {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px 30px 30px 30px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.sign-in__logo {
  margin: 0 auto 50px auto;
}

.sign-in__title {
  color: var(--main-text-color);
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  padding: 0;
  margin: 0 auto 80px auto;
}

.sign-in__form {
  position: relative;
  color: var(--main-text-color);
  font-family: var(--font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
}

.sign-in__form-inputs {
  height: 100%;
  width: 100%;
}

.sign-in__name-input {
  margin: 0 0 20px 0;
}

.sign-in__email-input {
  margin: 0 0 20px 0;
}
.sign-in__password-input {
  margin: 0 0 20px 0;
}

.sign-in__submit-button {
  margin: 0 0 14px 0;
}
.sign-in__navigation {
  color: var(--gray-text-color);
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  display: flex;
  gap: 7px;
}

.sign-in__sign-up-link {
  text-decoration: none;
  color: #4285F4;
  font-size: 12px;
}
