.form-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.form-header__logo {
  text-align: center;
  display: block;
  width: 100%;
  margin: 0 0 40px 0;
}

.form-header__title {
  color: var(--main-text-color);
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  padding: 0;
  margin: 0 auto 80px auto;
}

@media (min-width: 321px) {
  .form-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 396px;
  }
  .form-header__logo {
    text-align: left;
    margin: 0 0 40px 0;
  }

  .form-header__title {
    max-width: 396px;

    align-self: flex-start;
    margin: 0 0 40px 0;
  }
}
