.techs {
  box-sizing: border-box;
  color: var(--main-text-color);
  font-family: var(--font-family);
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 18px;
}

.techs__title {
  align-self: baseline;
  font-family: inherit;
  font-size: 18px;
  letter-spacing: -0.72px;
  color: #fff;
  font-weight: 400;
  padding: 0;
  margin: 0 0 28px 0;
}
.techs__separator {
  background-color: #DADADA;;
  margin: 0 0 60px 0;
}
.techs__caption {
  font-family: inherit;
  font-size: 30px;
  letter-spacing: -1.2px;
  padding: 0;
  margin: 0 0 24px 0;
}
.techs__description {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: -0.44px;
  text-align: center;
  padding: 0;
  margin: 0 0 50px 0;
}
.techs__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, fit-content(84px));
  grid-template-rows: repeat(2, fit-content(57px));
  gap: 10px;
  min-width: 178px;
  padding: 0;
  margin: 0;
}
.techs__list-item {
  font-size: 12px;
  letter-spacing: -0.48px;
  background-color: var(--shadowed-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 21px 16px;
}

@media (min-width: 321px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__title {
    font-size: 22px;
    letter-spacing: -0.88px;
    margin: 0 0 23px 0;
  }

  .techs__separator {
    margin: 0 0 80px 0;
  }

  .techs__caption {
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -2px;
    margin: 0 0 22px 0;
  }

  .techs__description {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
    padding: 0 104px;
    margin: 0 0 83px 0;
  }

  .techs__list {
    grid-template-columns: auto;
    grid-template-rows: fit-content(57px);
    grid-auto-columns: 84px;
    grid-auto-flow: column;
  }

  .techs__list-item {
    padding: 21px 25px;
  }
}

@media (min-width: 769px) {
  .techs {
    padding: 100px 70px;
  }

  .techs__separator {
    margin: 0 0 90px 0;
  }

  .techs__caption {
    margin: 0 0 26px 0;
  }

  .techs__description {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.56px;
    padding: 0 340px;
    margin: 0 0 100px 0;
  }

  .techs__list {
    grid-template-rows: fit-content(60px);
    grid-auto-columns: 90px;
  }
  .techs__list-item {
    font-size: 14px;
    letter-spacing: -0.56px;
    padding: 21px 26px 22px 26px;
  }
}
