.login-button {
  box-sizing: border-box;
  font-family: Inter, Aria, sans-serif;
  font-size: 10px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  color: var(--secondary-text-color);
  text-decoration: none;
  border-radius: 3px;
  background-color: var(--login-button-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 54px;
  min-height: 26px;
  padding: 5px 12px;
  margin: 0;
}

.login-button:hover{
  opacity: 0.8;
}