.header {
  background-color: var(--primary-background-color);
  min-height: 74px;
  width: 100%;
}

.header__body {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 74px;
  z-index: 2;
  padding: 18px 23px 18px 14px;
  max-width: 1280px;
  margin: 0 auto;
}

.header__logo {
  width: 38px;
  height: 38px;
  object-fit: cover;
}

.header__burger {
  cursor: pointer;
  display: block;
  position: relative;
  width: 22px;
  height: 21px;
  z-index: 10;
}

.header__burger-el,
.header__burger::before,
.header__burger::after {
  background-color: var(--main-text-color);
  position: absolute;
  left: 0;
  width: 100%;
  height: 2.5px;
  transition: all 0.4s ease 0s;
}

.header__burger-el {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

.header__burger_active .header__burger-el {
  transform: scale(0) translate(0px, -50%);
}

.header__burger::before {
  content: "";
  top: 0;
}

.header__burger::after {
  content: "";
  bottom: 0;
}

.header__burger_active {
  position: fixed;
  top: 19px;
  right: 19px;
}

.header__burger_active:before {
  top: 50%;
  height: 3px;
  transform: translate(0px, -50%) rotate(-45deg);
}

.header__burger_active:after {
  bottom: 50%;
  height: 3px;
  transform: translate(0px, 50%) rotate(45deg);
}

.header__menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease 0s;
  flex-direction: column;
}

.header__menu_active {
  right: 0;
}

.header__list {
  list-style: none;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 144px 0 46px 0;
  margin: 0;
}

.header__profile-button {
  margin: 0 0 46px 0;
}

.header__link {
  font-family: Inter, Aria, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--main-text-color);
  text-decoration: none;
  text-align: center;
  font-style: normal;
  line-height: normal;
  position: relative;
}

.header__link:hover {
  opacity: 0.7;
}

.header__link_active::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-text-color);
}

.header__item_action-button {
  flex: 1 0 auto;
  text-align: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header__action-button {
  background: none;
  border: none;
  display: flex;
  color: var(--main-text-color);
  font-family: Inter, Aria, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-decoration: none;
  cursor: pointer;
}


.header__action-button:hover {
  opacity: 0.8;
}

@media (min-width: 321px) {
  .header__body {
    padding: 18px 38px 18px 30px;
  }

  .header__menu {
    width: 68.3%;
  }

  .header__list {
    padding: 159px 0 46px 0;
    gap: 29px;
  }

  .header__profile-button {
    margin: 0 0 90px 0;
  }

  .header__actions {
    gap: 30px;
  }

  .header__action-button {
    font-size: 12px;
  }

  .header__burger_active {
    top: 28px;
    right: 38px;
  }
}

@media (min-width: 769px) {
  .header__body {
    padding: 18px 70px 18px 70px;
  }

  .header__burger {
    display: none;
  }

  .header__menu {
    position: relative;
    align-items: center;
    top: 0;
    right: 0;
    width: 100%;
    background-color: unset;
    flex-direction: row;
    height: 74px;
    padding: 0;
  }

  .header__list {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: unset;
    gap: 16px;
    height: 74px;
    padding: 0;
    margin: 0 auto;
  }

  .header__profile-button {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    border-style: none;
    border-radius: 20px;
    background-color: var(--shadowed-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    min-height: 32px;
    padding: 8px;
    margin: 0;
  }

  .header__item_main {
    display: none;
  }

  .header__item_action-button {
    text-align: end;
    flex-direction: row;
  }

  .header__link {
    font-size: 13px;
    font-weight: 400;
    line-height: 138.5%;
  }
}
