.movie-card {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
}

.movie-card__title {
  color: #fff;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.movie-card__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.movie-card__state {
}
.movie-card__button {
}
.movie-card__image {
}

.movie-card___container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.movie-card__info-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0;
  margin: 0;
}
.movie-card__title {
  color: var(--main-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
}
.movie-card__duration {
  color: #8b8b8b;
  border-radius: 3px;
  font-size: 11px;
  font-style: normal;
  line-height: 10px;
  background: #2f2f2f;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 52px;
  padding: 3px 4px;
}
