.switcher {
  box-sizing: border-box;
  position: relative;
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.switcher__label {
  cursor: pointer;
  font-size: 11px;
  line-height: 18px;
  padding: 0;
}
.switcher__input {
  display: none;
}

.switcher__slider {
  cursor: pointer;
  border-radius: 34px;
  position: relative;
  background-color: #ccc;
  width: 34px;
  height: 14px;
}

.switcher__slider::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  background-color: #fff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  transform: translate(25%, -50%);
  transition: transform 0.4s ease-in-out;
}

.switcher__slider_checked {
  background-color: #66bb6a;
  transition: background-color 0.2s;
}

.switcher__slider_checked::after {
  transform: translate(225%, -50%);
}

@media (min-width: 321px) {
  .switcher {
    gap: 13px;
  }

  .switcher__label {
    font-size: 12px;
  }
}
